<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./styles/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="./styles/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="./styles/android.css" rel="stylesheet" media="screen">





    <title>party_bid</title>

</head>
<body>
<header ng-controller="activitySignUpCtrl">
    报名
    <div class="header-right" >
        <a class="btn-style btn-4" ng-click="start_sign_up()">开始</a>
    </div>
    <div class="header-left">
        <a class=" btn-style btn-4" ng-click="back_to_activityList()">返回</a>
    </div>
</header>
<div>
    <ul>
        <li>

        </li>
    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active"><a href="../view/activity_sign_up.html"><i class="icon-group"></i><br />报名</a></li>
        <li><a href=""><i class="icon-comments"></i><br />竞价</a></li>
    </ul>
</footer>
</body>
</html>