<div id="biding_wrapper" ng-controller="activityBidingCtrl">

    <header >

        {{bid_name}}({{number_of_bid}}人）
        <div class="header-right" >

            <button class="btn btn-primary" ng-click="stop_biding()" ng-disabled="is_end_enable()">结束</button>
        </div>
        <div class="header-left">
            <button class="btn btn-primary" ng-click="back_to_bid_list()">返回</button>
        </div>
    </header>
    <div class="wrapper">
        <ul class="list-style-2">
            <li  ng-repeat="person in persons " >
                <i></i>
                <h3>{{$index + 1}}.&nbsp;&nbsp;&nbsp;{{person.name}}</h3>
                <i>{{person.phone}}</i>
            </li>
        </ul>
    </div>

    <!--<footer>-->

    <!--</footer>-->
</div>