
<div ng-controller="activityListCtrl">
<header>
    活动列表
    <div class="header-right">
        <button class="btn-style btn-4" ng-click="create_activity()" ng-disabled="is_create_button_enable()">创建活动</button>
    </div>
</header>
    <div  class="wrapper">
        <ul class="list-style-6">
            <li class = "clearfix btn-default"  ng-repeat="activity in activities " ng-click="click_event(activity)">
                <h3 class="{{ activity.activity_status==1 || activity.nameof_activity==current_biding_activity}}">
                    {{activity.nameof_activity}} <i class="icon-angle-right"></i>
                </h3>
            </li>
        </ul>
    </div>
</div>
