
<div ng-controller="bidingListCtrl">
    <header>
        竞价列表
        <div class="header-left">
            <button class="btn-style btn-4" ng-click="back_to_activity_list()" >返回</button>
        </div>

        <div class="header-right">
            <button class="btn-style btn-4" ng-click="start_bid()" ng-disabled="is_start_button_enable">开始</button>
        </div>
    </header>
    <div class="wrapper">
        <ul class="list-style-6">
            <li class = "clearfix btn-default"  ng-repeat="biding in bidings " ng-click="click_event(biding)">
                <h3 class="{{ biding.biding_status==1}}">
                    {{biding.biding_name}} <i class="icon-angle-right"></i>
                </h3>
            </li>
        </ul>
    </div>
    <footer>
        <ul class="footer-nav footer-nav-2tabs">
            <li ><a ng-click="click_sign_up()"><i class="icon-group"></i><br />报名</a></li>
            <li class="active"><a ng-click="click_biding()"><i class="icon-comments"></i><br />竞价</a></li>
        </ul>
    </footer>
</div>