


<body ng-controller="createActivityCtrl">
    <div>
        <div class="no-footer">
            <header>
                创建活动
                <div class="header-left">
                    <a href="" class="btn-style btn-4" ng-show="is_showing" ng-click="back_to_list()">返回</a>
                </div>

            </header>
        </div>
        <div id="wrapper" class="wrapper scrollable">
            <form class="wrapper-inner">
                <fieldset class="form-wrapper">
                    <br>
                    <br>
                    <br>
                    <div>
                        <h5>活动名称</h5>
                        <textarea   cols="30" rows="1" class="input-full" ng-model="activity_name" placeholder="enter activity name"></textarea>
                    </div>
                    <br>
                    <br>
                    <p class="message">
                        {{alert_message}}
                    </p>
                    <br>
                    <div>
                    <button  class="btn btn-2" ng-click="add_new_activity()" ng-disabled="!activity_name">创建</button>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</body>
</html>